* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f0f0;
  color: #000000;
}
body .container {
  width: 95%;
  margin: 2rem auto;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  body .container {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  body .container {
    width: 85%;
  }
}

/* HEADER */
.header {
  padding: 1rem;
  /* NAV__BAR */
}
.header .title__profile {
  align-self: start;
  padding: 0 1rem;
  font-weight: 200;
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .header .title__profile {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  .header .title__profile {
    font-size: 4rem;
  }
}
.header .title__profile--strong {
  font-weight: 900;
  font-size: 0.9em;
  display: block;
}
.header .subtitle__profile {
  font-family: "Source Code Pro", monospace;
  text-align: end;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: -1px;
  width: 100%;
  background-color: #1cffd9;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 768px) {
  .header .subtitle__profile {
    font-size: 1.05rem;
  }
}
@media screen and (min-width: 1024px) {
  .header .subtitle__profile {
    font-size: 1.25rem;
  }
}
.header .img__profile {
  display: block;
  max-width: 100%;
  margin: 0.5rem 0;
  box-shadow: 1px 1px 5px black;
}
@media screen and (min-width: 768px) {
  .header .header__container {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-template-columns: min-content max-content;
    grid-template-areas: "img title" "img subtitle";
    grid-column-gap: 1em;
  }
  .header .img__profile {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .header .subtitle__profile {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
  }
}
.header .nav__bar__ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 1rem;
}
.header .nav__bar__ul a {
  text-decoration: none;
  color: #000000;
}
.header .nav__bar__ul .barnav__link__activo {
  font-size: 95%;
  background-color: #1cffd9;
  padding: 0.5rem;
  border-radius: 5px;
}
.header .nav__bar__ul .barnav__link:hover {
  border-bottom: 5px solid #1cffd9;
  transition: all 200ms ease;
}

/* MAIN */
.main {
  padding: 1rem;
  /* OVERLAY / POPUP / BTN / ICO */
}
@media screen and (min-width: 768px) {
  .main {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    padding: 1rem 4rem;
  }
}
.main .main__ul {
  list-style: none;
  display: block;
  margin-bottom: 1rem;
}
.main .main__ul .main__ul__li {
  margin: 0.5rem;
}
.main .main__ul a {
  text-decoration: none;
  color: #000000;
}
.main .main__ul a:hover {
  font-weight: 600;
  transition: all 200ms ease;
}
.main .div__picture {
  text-align: center;
}
.main .div__picture .picture {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .main .div__picture .picture {
    width: auto;
    max-height: 250px;
  }
}
.main .about {
  margin: 2rem 0;
}
.main .main__h3 {
  margin-bottom: 0.5rem;
}
.main .overlay {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 3;
}
.main .overlay.active {
  visibility: visible;
}
.main .popup {
  position: absolute;
  max-height: 80vh;
  background-color: rgba(241, 241, 241, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  overflow: auto;
  word-wrap: break-word;
  padding: 1rem;
  opacity: 0;
  transition: opacity 800ms;
}
.main .popup.active {
  opacity: 1;
}
.main .btn__cerrar__popup {
  display: block;
  text-align: right;
  position: sticky;
  top: 0px;
  right: 0px;
}
.main .ico__close {
  font-size: 1.5rem;
  color: #000000;
  transition: 0.3s ease all;
}
.main .ico__close:hover {
  color: #adadad;
}
.main .story {
  margin-top: 2rem;
}
.main .section__title {
  margin-bottom: 1rem;
}

/* ABOUT */
.about {
  background-color: rgba(173, 173, 173, 0.3);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 1rem 2rem 2rem 2rem;
  }
}
.about .main__h3 {
  font-size: 1.3em;
  justify-content: end;
  text-align: end;
  padding: 0 1rem;
}
.about .main__about__text {
  text-align: left;
}

/* VIDEO */
.video {
  width: 100%;
  height: auto;
}

/* FOOTER */
.footer {
  min-width: 100%;
  margin: auto;
  background-color: #1cffd9;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}
.footer .footer__icon {
  margin: 0 0.5rem;
  filter: invert(14%) sepia(0%) saturate(1%) hue-rotate(343deg) brightness(95%) contrast(85%);
}
.footer .footer__icon:hover {
  filter: invert(56%) sepia(19%) saturate(274%) hue-rotate(111deg) brightness(90%) contrast(84%);
  transition: all 300ms ease;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer .section__dev {
  font-family: "Source sans Pro", monospace;
  color: #303030;
  font-size: 1em;
  font-weight: 600;
  margin-top: 3rem;
  border-top: 1px solid black;
  padding-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
