/* FOOTER */
.footer {
  min-width: 100%;
  margin: auto;
  background-color: #1cffd9;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 0px 0px 10px 10px;

  .footer__icon {
    margin: 0 0.5rem;
    filter: invert(14%) sepia(0%) saturate(1%) hue-rotate(343deg)
      brightness(95%) contrast(85%);
  }

  .footer__icon:hover {
    filter: invert(56%) sepia(19%) saturate(274%) hue-rotate(111deg)
      brightness(90%) contrast(84%);
    transition: all 300ms ease;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .section__dev {
    font-family: "Source sans Pro", monospace;
    color: #5a5a5a;
    font-size: 1em;
    font-weight: 600;
    margin-top: 3rem;
    border-top: 2px groove #5a5a5a;
    padding-top: 1rem;
  }
}
