/* FOOTER */
.footer {
  min-width: 100%;
  margin: auto;
  background-color: #00ffff;
  padding: 3rem 1rem;
  text-align: center;
}

.footer__icon {
  margin: 0 0.5rem;
}

.footer__icon:hover {
  filter: invert(58%) sepia(51%) saturate(2208%) hue-rotate(286deg)
    brightness(89%) contrast(88%);
}

.section__dev {
  font-family: "Source sans Pro", monospace;
  font-size: 1em;
  font-weight: 600;
  margin-top: 3rem;
  border-top: 1px solid black;
  padding-top: 1rem;
}
